name: CI Tests
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Clean Go Module Cache (needed for cilint in some cases)
        run: go clean -modcache
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
      - name: Run CI tests
        run: script -q -e -c "make citest"
